In [2]:
import pandas as pd

In [3]:
from pathlib import Path

In [7]:
csvpath=Path('budget_data.csv')
Pybank=pd.read_csv(csvpath)
Pybank.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [13]:
#The total number of months included in the dataset.
Total_number_of_months=Pybank['Profit/Losses'].count()
print('Total number of months is:', Total_number_of_months)

Total number of months is: 86

In [25]:
#The net total amount of Profit/Losses over the entire period.
Net_PnL=Pybank['Profit/Losses'].sum()
print(f'Net total amount of profit/losses is:${Net_PnL}')

Net total amount of profit/losses is:$38382578

In [26]:
#The average of the changes in Profit/Losses over the entire period.
Pybank['Profit/Losses'].mean()

446309.0465116279

In [27]:
Pybank['Changes']=Pybank['Profit/Losses']-Pybank['Profit/Losses'].shift()
Pybank

        Date  Profit/Losses   Changes
0   Jan-2010         867884       NaN
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]

In [31]:
Average_Changes=Pybank['Changes'].mean()
print(f'Average Change : $ {Average_Changes}')

Average Change : $ -2315.1176470588234

In [35]:
#The greatest increase in profits (date and amount) over the entire period.
Greatest_Increase=Pybank['Changes'].max()
print(f'Greatest Increase in Profit:Feb-2012 (${Greatest_Increase})')

Greatest Increase in Profit:Feb-2012 ($1926159.0)

In [34]:
#The greatest decrease in losses (date and amount) over the entire period.
Greatest_Decrease=Pybank['Changes'].min()
print(f'Greatest Decrease in Profit: Sep-2013 (${Greatest_Decrease})')

Greatest Decrease in Profit: Sep-2013 ($-2196167.0)

In [36]:
print("Financial Analysis")
print("----------------------")
print('Total number of months is:', Total_number_of_months)
print(f'Net total amount of profit/losses is:${Net_PnL}')
print(f'Average Change : $ {Average_Changes}')
print(f'Greatest Increase in Profit:Feb-2012 (${Greatest_Increase})')
print(f'Greatest Decrease in Profit: Sep-2013 (${Greatest_Decrease})')

Financial Analysis
----------------------
Total number of months is: 86
Net total amount of profit/losses is:$38382578
Average Change : $ -2315.1176470588234
Greatest Increase in Profit:Feb-2012 ($1926159.0)
Greatest Decrease in Profit: Sep-2013 ($-2196167.0)